header{
    padding: 2rem 2%;
    background-color: #FFFFFF;
    font-size: 20px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    gap: 2.5rem;
}

header ul li{
    list-style-type: none;
}