@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    color: #292F36;
}

a{
    text-decoration: none;
}

/* MAIN COLOR */
.primary-background{
  background-color: #0C70F2;
}

.primary-color{
  color: #0C70F2;
}

.secondary-background{
  background-color: #1D1D1D;
}

.secondary-color{
  color: #1D1D1D;
}

.tertiary-background{
  background-color: #F6F6F6;
}

.tertiary-color{
  color: #F6F6F6;
}


/* GRID */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

